.register-container {
    width: 100%;
    height: 100%;
    max-height: calc(100% -1px);
    overflow-y: auto;
    display: flex;
    /* background-color: black; */
}

.loading-space {
    width: 100%;
    height: 100%;
}

.left-register-container {
    position: relative;
    height: 100%;
    width: 5%;
}

.middle-register-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.register-info-container {
    /* position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 90%;
    border-radius: 10px;
    height: 95%;
    max-height: 95%; */
}

.right-register-container {
    position: relative;
    height: 100%;
    width: 5%;
}

.register-form-signup {
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: rgba(29, 35, 51, 0.9);
    border-radius: 10px;
}