.hearth-icon {
    width: 30px;
    height: 30px;
    /* hardcoded demo */
    background-image: url('../../../../assets/imgs/fullhearth.png');
    background-size: cover;
}

.user-hearts {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}